name: watermark-java

on:
  push:
    branches:
      - master
    paths:
      - 'services/watermark-java/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@v1

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build with Gradle
      working-directory: ./services/watermark-java
      run: ./gradlew build -x test
      #      run: ./gradlew build integrationTest jacocoTestReport jacocoTestCoverageVerification

    - name: Report coverage (Unit Tests)
      uses: codecov/codecov-action@v1.0.3
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: ./jacocoTestReport.xml
        flags: unit-tests
        name: codecov-ut

    - name: Report coverage (Integration Tests)
      uses: codecov/codecov-action@v1.0.3
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: ./jacocoIntegrationTestReport.xml
        flags: integration-tests
        name: codecov-ut

    - name: Publish to Registry
      working-directory: ./services/watermark-java
      run: |
        docker image build -t watermark-java .
        echo '${{ secrets.DOCKER_PRIVATE_PASSWORD }}' | docker login --username='${{ secrets.DOCKER_PRIVATE_USERNAME }}' --password-stdin
        docker tag watermark-java yushkevich/watermark-java:latest
        docker push yushkevich/watermark-java:latest