name: watermark-java

on:
  push:
    branches:
      - master
    paths:
      - 'services/watermark-java/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@v1

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build with Gradle
      working-directory: ./services/watermark-java
      run: ./gradlew build -i

    - name: Report coverage
      working-directory: ./services/watermark-java
      run: |
        export CODECOV_TOKEN=${{secrets.CODECOV_TOKEN}}
        bash <(curl -s https://codecov.io/bash) -f ./build/reports/jacoco/test/jacocoTestReport.xml
        bash <(curl -s https://codecov.io/bash) -f ./build/reports/jacoco/jacocoIntegrationTestReport/jacocoIntegrationTestReport.xml

    - name: Publish to Registry
      working-directory: ./services/watermark-java
      run: |
        docker image build -t watermark-java .
        echo '${{ secrets.DOCKER_PRIVATE_PASSWORD }}' | docker login --username='${{ secrets.DOCKER_PRIVATE_USERNAME }}' --password-stdin
        docker tag watermark-java yushkevich/watermark-java:latest
        docker push yushkevich/watermark-java:latest